html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #292727;
    color: #c0c5c9;
  
}

button {
    padding: 0.8rem 1.5rem;
    border-radius: 16px;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

navbar {
    height: 4rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-inline: 1rem;
}

.toggle-Button {
    overflow: hidden;
}

main {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

main > span {
    padding-inline: 1rem;
}

.img-container {
    height: 25rem;
    width: 100%;
    padding-inline: 0rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.btn-join {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #a688fa;
    color: black;
    margin-bottom: 2rem;
}

.btn-join:hover {
    background-color: #a688fad0;
}

.btn-join:active {
    background-color: #a688faa5;
}

hr {
    width: 100%;
    height: 0.5px;
    background-color: #c0c5c9;
    border: none;
}

.activities-container {
    background-color: #313030;
    margin-top: 2rem;
    padding: 3rem;
}

.activities {
    text-align: start;
    width: 21rem;
    margin-top: 2rem;
    margin-bottom: 3.3rem;
}

.activities > img {
    width: 21rem;
    height: 21rem;
    margin-bottom: 1rem;
}
.activities > h3 {
    font-weight: 650;
}

.projects-container {
   padding: 1.5rem 0;
}

.projects-container > h2 {
    margin-bottom: 0.8rem;
}

.projects-container > ul > li {
    margin-bottom: 0.5rem;
}

.organization-container {
    background-color: #313030;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

/* this is for tablet, ipad and other big smartphones screen */
@media (min-width:600px) {
    html {
        font-size: 16px;
    }
    navbar {
        height: 4rem;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-inline: 2rem;
    }

    .img-container {
        height: 30rem;
        width: 100%;
        padding-inline: 0rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .join-span {
        width: 80%;
    }

    .btn-join {
        margin-top: 1.5rem;
        padding: 0.8rem 1.5rem;
        border-radius: 20rem;
        font-weight: bold;
        font-size: 1.5rem;
        background-color: #a688fa;
        color: black;
        margin-bottom: 1.5rem;
    }

    .activities-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5rem;
    }
    .activities {
        margin: 2rem 0;
        width: auto;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .activities > img {
        width: min(50%,25rem);
        height: 20rem;
        margin-bottom: 1rem;
    }
    .activities > div {
        width: 40%;
    }

    .projects-container {
        padding: 3rem 0;
     }
     
     .projects-container > h2 {
         margin-bottom: 2rem;
     }
     
     .projects-container > ul > li {
         margin-bottom: 1.3rem;
     }
}

/*Editted by adam*/
.top-nav a {
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
    font-size: 0.9pc;
}

.top-nav {
    margin: auto auto auto 50px;
}

.top-nav a:hover {
    color: #517fc4;
    cursor: pointer;
}